h1{
    text-align: center;
}
#first {
    color: red;
}
#second {
    color: blue;
}
#third {
    color: green;
}
#fourth {
    font-size: large;
}
#fifth {
    font-size: small;
}
#sixth {
    text-align: center;
}
#seventh {
    font-weight: bold;
}
#eighth {
    font-family: Arial, Helvetica, sans-serif
}
#ninth {
    font-size: large; color: orange; font-weight: bold;
}
.green {color:green;
}
#styledImage {
    border: 3px solid rgb(238, 158, 8);
    width: 200px;
}